Repository sijadev/Claude.Moodle-MCP-Server: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-bugfixes, mcp-server-syntax, setup-script-validation, docs-sync-check, quick-smoke-test

Path conditions:
  validate-bugfixes: any of: ^(setup/setup_moodleclaude_v3_fixed\.py|src/core/working_mcp_server\.py|tools/.*\.py)$, but not: (?x)^(
  \.venv/.*|
  venv/.*|
  \.git/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.egg-info/.*|
  build/.*|
  dist/.*|
  .*backup.*|
  .*\.backup\..*
)$
  mcp-server-syntax: any of: ^src/core/working_mcp_server\.py$, but not: (?x)^(
  \.venv/.*|
  venv/.*|
  \.git/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.egg-info/.*|
  build/.*|
  dist/.*|
  .*backup.*|
  .*\.backup\..*
)$
  setup-script-validation: any of: ^setup/setup_moodleclaude_v3_fixed\.py$, but not: (?x)^(
  \.venv/.*|
  venv/.*|
  \.git/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.egg-info/.*|
  build/.*|
  dist/.*|
  .*backup.*|
  .*\.backup\..*
)$
  docs-sync-check: any of: ^(BUGFIX_DOCUMENTATION\.md|setup/.*\.py|src/core/.*\.py)$, but not: (?x)^(
  \.venv/.*|
  venv/.*|
  \.git/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.egg-info/.*|
  build/.*|
  dist/.*|
  .*backup.*|
  .*\.backup\..*
)$
  quick-smoke-test: any of: ^src/core/working_mcp_server\.py$, but not: (?x)^(
  \.venv/.*|
  venv/.*|
  \.git/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.egg-info/.*|
  build/.*|
  dist/.*|
  .*backup.*|
  .*\.backup\..*
)$

🔧 Fix deprecated actions/upload-artifact@v3 in GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
Due: none

🚀 Fix GitHub CI/CD smoke test Claude Desktop config validation
  config/claude_desktop_working.json
  scripts/smoke_test.sh
Due: none

🔧 Fix GitHub CI/CD workflow file paths after directory reorganization
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
Due: none

🔧 Add isort and Black configuration to fix GitHub CI/CD formatting checks
  pyproject.toml
Due: none

🚀 Fix GitHub CI/CD test execution after pre-flight job
  .github/workflows/ci.yml
Due: none

🔧 Fix flake8 linting errors in GitHub CI/CD
  .github/workflows/ci.yml
  pyproject.toml
  src/core/working_mcp_server.py
  tools/start_server.py
Due: validate-bugfixes, mcp-server-syntax, docs-sync-check, quick-smoke-test

🔒 Fix Bandit security warning B107 in master configuration
  config/master_config.py
Due: none

🚀 Major MCP Server Enhancement - Full Course Content Creation
  src/core/working_mcp_server.py
Due: validate-bugfixes, mcp-server-syntax, docs-sync-check, quick-smoke-test

🔧 Fix Black code formatting in MCP server
  src/core/working_mcp_server.py
Due: validate-bugfixes, mcp-server-syntax, docs-sync-check, quick-smoke-test

🔒 Fix critical security vulnerabilities in configuration and core modules
  .gitignore
  config/master_config.json
  config/master_config.py
  config/moodle_tokens.env
  config/moodle_tokens_current.env.backup.1754032037
  src/core/adaptive_content_processor.py
  src/core/test_data_storage.py
Due: docs-sync-check

🔧 Fix Moodle web service function calls for module creation
  src/clients/enhanced_moodle_claude.py
  src/core/working_mcp_server.py
Due: validate-bugfixes, mcp-server-syntax, docs-sync-check, quick-smoke-test

🔒 Remove hardcoded tokens from examples and documentation
  docs/DEMOS_README.md
  docs/MOODLE_SETUP.md
  examples/advanced_transfer.py
  examples/check_webservices.py
  examples/comprehensive_course_structure.py
  examples/course_with_sections_demo.py
  examples/simple_transfer.py
  examples/verify_setup.py
  tools/setup/generate_token.py
Due: validate-bugfixes

🔒 Configure Bandit security scanner and fix remaining issues
  .bandit
  .gitignore
  tools/setup/setup_fresh_moodle_v2.py
  tools/setup/setup_optimized_moodle_v3.py
Due: validate-bugfixes

🔒 Final security fixes for GitHub CI/CD Bandit scan
  .bandit
  .github/workflows/ci.yml
  tools/run_persistent_test_suite.py
Due: validate-bugfixes

🔧 Fix Black formatting in tools/setup/ directory
  tools/setup/setup_fresh_moodle_v2.py
  tools/setup/setup_optimized_moodle_v3.py
Due: validate-bugfixes

🔒 Skip B608 SQL injection warnings for debug/test print statements
  .bandit
  .github/workflows/ci.yml
Due: none

🔒 Add comprehensive security documentation and fix GitHub security warnings
  .gitattributes
  .github/SECURITY.md
  .github/dependabot.yml
  tools/setup/setup_fresh_moodle_v2.py
  tools/testing/test_new_course_creation.py
Due: validate-bugfixes

🔒 Fix all GitHub CI Bandit security warnings
  .bandit
  .github/workflows/ci.yml
Due: none

🔒 Security: Fix PyPDF2 CVE-2023-36464 and integrate CI/CD workflow validation
  pyproject.toml
  requirements.txt
  scripts/smoke_test.sh
  uv.lock
Due: none

🐳 CI/CD: Fix Docker Compose command compatibility for GitHub Actions
  .github/workflows/ci.yml
  tools/run_docker_test_suite_fixed.py
Due: validate-bugfixes

🐳 CI/CD: Fix Docker build paths and remove missing production Dockerfile
  .github/workflows/ci.yml
Due: none

🧪 CI/CD: Fix missing aiosqlite dependency for unit tests
  requirements.txt
  src/core/repositories.py
Due: docs-sync-check

🎨 CI/CD: Fix Black formatting and complete smoke test workflow validation
  pyproject.toml
  requirements.txt
  tools/run_docker_test_suite_fixed.py
  uv.lock
Due: validate-bugfixes

🐳 CI/CD: Add missing Docker deployment files for GitHub CI build
  deployment/docker/Dockerfile.test
  deployment/docker/docker-compose-restore.yml
  deployment/docker/docker-compose.test.yml
  deployment/docker/docker-compose.yml
  deployment/docker/postgres-init/01-init-moodle.sql
Due: none

🐳 CI/CD: Fix Dockerfile.test heredoc syntax error for GitHub CI build
  deployment/docker/Dockerfile.test
Due: none

🧪 CI/CD: Fix incorrect file path in Docker integration test prerequisites
  tools/run_docker_test_suite_fixed.py
Due: validate-bugfixes

🐳 Fix persistent Docker build syntax error - separate RUN commands
  deployment/docker/Dockerfile.test
Due: none

🔍 Add debugging info for Docker test prerequisites check
  tools/run_docker_test_suite_fixed.py
Due: validate-bugfixes

🧪 Refactor dependency injection tests with state-of-the-art patterns
  tests/unit/test_architectural_patterns.py
Due: none

🧪 Fix command statistics test KeyError
  tests/unit/test_architectural_patterns.py
Due: none

🐳 Fix Docker build syntax error with COPY approach
  deployment/docker/Dockerfile.test
Due: none

🔧 Fix Moodle section creation external_functions database error
  src/core/working_mcp_server.py
Due: validate-bugfixes, mcp-server-syntax, docs-sync-check, quick-smoke-test

🐳 Fix Docker integration test container health timeout issues
  deployment/docker/docker-compose.test.yml
  tools/run_docker_test_suite_fixed.py
Due: validate-bugfixes

🔧 Fix all MCP server external_functions database errors with intelligent fallbacks
  src/core/working_mcp_server.py
Due: validate-bugfixes, mcp-server-syntax, docs-sync-check, quick-smoke-test

🚀 Create comprehensive MoodleClaude custom web service solution
  tools/setup/README_CUSTOM_WEBSERVICE.md
  tools/setup/create_custom_webservice.sh
  tools/setup/enable_webservices.py
  tools/setup/setup_custom_webservice.py
Due: validate-bugfixes

🐳 Update Docker test setup to use new custom MoodleClaude web service
  tools/run_docker_test_suite_fixed.py
Due: validate-bugfixes

pre-fix
  .github/workflows/ci.yml
  CLAUDE_CODE_COMMIT_MESSAGE.txt
  CLAUDE_CODE_SUMMARY.md
  ENHANCED_REBUILD_SUCCESS.md
  README.md
  commit_claude_code.sh
  deployment/docker/docker-compose.yml
  docs/Zusammenfassung.txt
  execute_claude_code_commit.sh
  run_claude_code_git.sh
  setup/setup_fresh_moodleclaude_complete.sh
  setup/setup_moodleclaude_enhanced.py
  setup/setup_moodleclaude_v3_fixed.py
  test_enhanced_setup.py
  tools/claude_code_git.py
  tools/run_docker_test_suite_fixed.py
  tools/setup/ENHANCED_SETUP_GUIDE.md
  tools/setup/LOCAL_WSWIZARD_INTEGRATION.md
  tools/setup/MOODLE_SETUP_UPDATE_SUMMARY.md
  tools/setup/README_CUSTOM_WEBSERVICE.md
  tools/setup/create_custom_webservice.sh
  tools/setup/enhanced_webservice_setup.py
  tools/setup/moodle_cli_setup.php
  tools/setup/moodleclaude_enhanced_config.json
  tools/test_enhanced_setup.py
Due: validate-bugfixes, setup-script-validation, docs-sync-check

Docker Container added into the workflow
  .github/workflows/e2e-tests.yml
  requirements-tests.txt
Due: none

Update README.md
  README.md
Due: none
